{% extends 'column.html.twig' %}

{% block title %}New User{% endblock %}
{% block body %}
    <h1>Add New User</h1>
    <form method="post">
        <label>AD Login:</label>
        <input type="text" name="ad_login" required>
        <label>Select Group:</label>
        <select name="id_group_usr[]" multiple>
            {% for group in groups %}
                <option value="{{ group.idgroupusr }}">{{ group.groupdescription }}</option>
            {% endfor %}
        </select>
        <p>Hold Ctrl (Cmd on Mac) to select multiple groups.</p>
        <button type="submit">Create</button>
    </form>
{% endblock %}
