{% extends 'column.html.twig' %}

{% block title %}New User{% endblock %}
{% block body %}
    <h1>Add New User</h1>
    <form method="post">
        <label>AD Login:</label>
        <input type="text" name="ad_login" required>
        <label>Group ID:</label>
        <input type="number" name="id_group_usr">
        <button type="submit">Create</button>
    </form>
{% endblock %}
