{% extends 'column.html.twig' %}

{% block title %}Settings Standard Files index{% endblock %}


{% block submenu %}
{% endblock %}
{% block body %}

<h1>Settings Standard Files index</h1>

{%  endblock %}
