{% extends 'column.html.twig' %}
{% block title %}
    Little issue...
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-2 mx-auto">
            <img src="/img/500.png" class="col-12"/>
        </div>
        <div class="col-12 text-center">
            <h1 class="ps-0 ms-0 pe-0 me-0">A small issue has been found, the page will automatically reload once done.</h1>
            <h3 class="standard-red">Reason: {{ message }}</h3>
        </div>
        <div class="col-12 text-center">
            If current page is not loading within 10 seconds, <a href="javascript:location.reload();">click here</a>.
        </div>

    </div>
    <script>
        $(function () {
            setTimeout(function () {
                location.reload();
            }, 1000);
        });
    </script>
{% endblock %}
