{# empty Twig template #}
<small class="small">
    <a target="_blank" href="{{ path('log_history', {'entity':entity,  'id': id}) }}" title="History"><i class="fas fa-history standard-grey standard-hover-red"></i></a>
</small>