{% extends 'column.html.twig' %}

{% block title %}ApiFetcherController index{% endblock %}


{% block submenu %}
    {% include 'apifetcher/_submenu.html.twig' %}
{% endblock %}
{% block body %}

<h1>ApiFetcherController index</h1>

{%  endblock %}
