<div class="row ps-0 ms-0 pe-0 me-0 pt-0 mt-0">
    <div class="align-top col-9 ps-0 ms-0 pe-0 me-0 pt-0 mt-0">
        <h1 class="align-top ps-0 ms-0 pe-0 me-0 pt-0 mt-0">
            {% block title %}
            
            {% endblock %}
        </h1>
        <h2 class="align-top ps-0 ms-0 pe-0 me-0 pt-0 mt-0 small">
            {% block subtitle %}

            {% endblock %}
        </h2>
    </div>
    <div class="col-3 text-end ps-0 ms-0 pe-0 me-0 pt-0 mt-0 small">
        {% block links %}

        {% endblock %}
    </div>
</div>