<h2>New post in the forum</h2>
<div class="row">
    From : [[sender]]       
</div>
<div class="row">
    [[message]]
</div>
<div>
    Read it <a href="http://[[PROJECT]]pls/forum/">here</a>.
</div>

