
{% extends 'column.html.twig' %}

{% block title %}SetupController new{% endblock %}


{% block submenu %}
    {% include 'setup/_submenu.html.twig' %}
{% endblock %}
{% block body %}

<h1>SetupController new</h1>

{%  endblock %}            
            